.menu {
	width: 1050px;
	height: 45px;
	background: #f667aa;
	margin-left: auto;
	margin-right: auto;
}

.menu > ul {
	margin: 0px 25px;
	width: 1050px;
}

.menu > ul > li {
	text-align: center;
	list-style-type: none;
	display: inline-block;
	color: white;
	height: 36px;
	width: 130px;
	padding: 8px 5px 0px 0px;
	font-size: 18px;
	margin-right: 0px;
  transition: 0.3s;
	cursor: pointer;
}

.menu > ul > li:hover {
	background: #d73d85;
	transition: 0.5s;
}
